body.about-us {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #007BFF;
    padding: 20px 0;
    text-align: center;
}

h1 {
    color: #fff;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease; /* Adding transition for color change */
}

nav a:hover {
    color: #cc5ed0;
}

nav a.active {
    color: #cc5ed0;
}

.about-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-content h2 {
    color: #007BFF;
}

.community {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.community-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.community-description {
    flex: 1;
}

.community-description h3 {
    color: #007BFF;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
}
