body.about-us {
    background-color: #f4f4f4;
    color:#3498db;
    margin: 0;
    padding: 0;
}

header {
    background-color:#cc5ed0;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


.about-content {
    text-align: center;
    padding: 50px;
}

.about-content h2 {
    font-size: 2em;
}

.about-content p {
    margin: 20px 0;
}

footer {
    background-color:#cc5ed0;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
