body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: #f0f0f0; /* Light gray background */
    color: #333333; /* Dark gray text color */
}

header {
    background-color: #ffffff; /* White header background */
    color: #6b1010;
    padding: 15px;
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

nav {
    background-color: #1b0c0c; /* Dark reddish-brown */
    padding: 10px;
    text-align: center;
}

nav a {
    color: #2eb27d; /* Turquoise green */
    text-decoration: none;
    padding: 15px;
    margin: 0 10px;
    font-size: 18px;
}

.main {
    text-align: center;
    padding: 20px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin: 10px;
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.contact-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-icon {
    margin: 0 10px;
}

.contact-icon img {
    width: 20px;
    height: 20px;
}

.contact-info {
    background-color: #ffb6c1; /* Light pink background */
    padding: 20px;
    text-align: center;
}

.contact-info p {
    margin: 10px 0;
}

.motivational-text {
    background-color: #add8e6; /* Light blue background */
    padding: 20px;
    text-align: center;
}

.footer {
    background-color: #1a1a1a; /* Dark yellowish-brown */
    padding: 20px;
    text-align: center;
    color: #6b1010;
}

.footer-nav {
    background-color: #1b0c0c; /* Dark reddish-brown */
    padding: 10px;
    text-align: center;
}

.footer-nav a {
    color: #2eb27d; /* Turquoise green */
    text-decoration: none;
    padding: 15px;
    margin: 0 10px;
    font-size: 18px;
}
