body {
    margin: 0;
    font-family: 'Georgia', serif; /* Change to a different font family, e.g., Georgia */
    background-color: #637c19; /* Dark grayish green */
    color: #ffffff; /* White text color for the body */
}

header {
    background-color: #ffffff; /* White */
    color: #6b1010;
    padding: 15px;
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

nav {
    background-color: #1b0c0c; /* Dark reddish-brown */
    padding: 10px;
    text-align: center;
}

nav a {
    color: #2eb27d; /* Turquoise green */
    text-decoration: none;
    padding: 15px;
    margin: 0 10px;
    font-size: 18px; /* Increase font size */
}

.main {
    text-align: center;
    padding: 20px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin: 10px;
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.contact-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust as needed */
}

.contact-icon {
    margin: 0 10px;
}

.contact-icon img {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
}

.footer {
    background-color: #1a1a1a; /* Dark yellowish-brown */
    padding: 20px;
    text-align: center;
    color: #6b1010;
}

.footer-nav {
    background-color: #1b0c0c; /* Dark reddish-brown */
    padding: 10px;
    text-align: center;
}

.footer-nav a {
    color: #2eb27d; /* Turquoise green */
    text-decoration: none;
    padding: 15px;
    margin: 0 10px;
    font-size: 18px; /* Increase font size */
}
